<h1 class="page-title"> Tax Master
    <small>Taxes</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Payment Reports</span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->

{{if .flash.error}}
<blockquote>{{.flash.error}}</blockquote>
{{end}}
{{if .flash.success}}
<blockquote>{{.flash.success}}</blockquote>
{{end}}

<div class="row">
    <div class="col-md-12 ">

        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="icon-pin font-green"></i>
                    <span class="caption-subject bold uppercase"> Tax Payment Report</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <form>
                        <div class="form-group col-md-3">
                            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                            <label for="startDate">START DATE</label>
                            <input required class="form-control form-control-solid placeholder-no-fix" type="date"
                                   autocomplete="off" name="startDate" id="startDate" />
                        </div>
                        <div class="form-group col-md-3">
                            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                            <label for="endDate">END DATE</label>
                            <input required class="form-control form-control-solid placeholder-no-fix" type="date"
                                   autocomplete="off" name="endDate" id="endDate" />
                        </div>
                        <div class="form-group col-md-3">
                            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                            <label for="taxTypeId">TAX TYPE</label>
                            <select class="form-control" id="taxTypeId" name="taxTypeId">
                                <option value="">All</option>
                                {{range $tax := .TaxTypes}}
                                <option value="{{$tax.Id}}">{{$tax.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group col-md-3"><input style="margin-top:24px;" type="submit" value="Apply Filter" class="btn btn-sm btn-primary"></div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <h5>{{.TimelineText}}</h5>
                <table class="table">
                    <tr>
                        <th>Tax Type</th>
                        <th>TIN</th>
                        <th>Amount</th>
                        <th>Payment Date</th>
                    </tr>
                    {{range $payment := .TaxPayments}}
                    <tr>
                        <td>
                            {{$payment.TaxType.Name}}
                        </td>
                        <td>
                            {{$payment.Tin}}
                        </td>
                        <td>
                            {{$payment.Amount}}
                        </td>
                        <td>{{$payment.Date}}</td>
                        <td>
                            {{$payment.Status.Text}}
                        </td>
                    </tr>
                    {{end}}
                </table>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>

</div>
