
<!-- Owl carousel -->
<!--<link rel="stylesheet" type="text/css" href="/static/monarch/assets/widgets/owlcarousel/owlcarousel.css">-->
<script type="text/javascript" src="/static/monarch/assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="/static/monarch/assets/widgets/owlcarousel/owlcarousel-demo.js"></script>



<div class="owl-slider-2 slider-wrapper">
    <div class="poly-bg-1 hero-box font-inverse hero-box-smaller">
        <div class="container clearfix">
            <div class="col-md-4 img-holder wow fadeInUp">
                <img src="/static/img/Naira-vs-Dollar-330x242.jpg" alt="">
            </div>
            <div class="col-md-8">
                <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Start Making Money</h1>
                <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">
                    Our members are making thousands in a matter of hours. Join a network that really pays
                </p>
                <a href="/register" class="btn-outline-inverse hero-btn wow fadeInUp"
                   data-wow-delay="0.4s" title="Purchase Button">Register Now</a>
            </div>
        </div>
    </div>
    <div class="poly-bg-1 hero-box font-inverse hero-box-smaller">
        <div class="container clearfix">
            <div class="col-md-4 img-holder wow fadeInUp">
                <img src="/static/img/Naira-vs-Dollar-330x242.jpg" alt="">
            </div>
            <div class="col-md-8">
                <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Robust Referral System</h1>
                <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">
                    You will make 5000 Naira everytime your downline make a donation. That is alot of money
                </p>
                <a href="/register" class="btn-outline-inverse hero-btn wow fadeInUp"
                   data-wow-delay="0.4s" title="Purchase Button">Register Now</a>
            </div>
        </div>
    </div>
    <div class="poly-bg-1 hero-box font-inverse hero-box-smaller">
        <div class="container clearfix">
            <div class="col-md-4 img-holder wow fadeInUp">
                <img src="/static/img/Naira-vs-Dollar-330x242.jpg" alt="">
            </div>
            <div class="col-md-8">
                <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Give Help & Get Help</h1>
                <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">
                    Give a helping Hand And get a Helping hand. Make money by helping someone with your spare money.
                    Join the winning team
                </p>
                <a href="/register" class="btn-outline-inverse hero-btn wow fadeInUp"
                   data-wow-delay="0.4s" title="Purchase Button">Register Now</a>
            </div>
        </div>
    </div>
</div>

<div class="container large-padding" id="howItWorks">
    <div class="row">
        <div class="col-md-6">
            <h3>How it works</h3>
            <ul>
                <li>Join the system using a Member's referral Code</li>
                <li>Make a Donation of 5,000 Naira</li>
                <li>The system gives you <span class="font-red">12 hours</span> to pay your beneficiary</li>
                <li>The system matches you with two people within 12 hours to 7 days</li>
                <li>You will be paid 8,000</li>
            </ul>

            <h4>Make money from referral</h4>
            <p>The system is built to be the most rewarding ever. And to pu the power to make more money in the hand of the users</p>
            <ul>
                <li>Share your referral code and get people to register under you</li>
                <li>Make 1000 Naira <span class="font-red">every time</span> they make a donation</li>
            </ul>
        </div>

        <div class="col-md-4 col-md-offset-1">
            <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed" style="margin-top: 75px;">
                <i class="icon-large glyph-icon bg-white border-default btn-border icon-linecons-clock wow bounceInDown" data-wow-delay="1s"></i>
                <h3 class="text-transform-upr icon-title wow fadeInUp">Donation 5000</h3>
                <p class="icon-content wow fadeInUp">
                    Donate 5000 and get 8000. Its that easy<br />
                    <a class="btn btn-block btn-danger" href="/register">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="large-padding pad25B">
    <div class="container pad25B row">

    </div>
</div>
<style>
    .hero-box-smaller .owl-pagination {
        display: none;
    }
</style>

<div class="cta-box-btn bg-yellow">
    <div class="container">
        <a href="/register" class="btn btn-success" title="">
            Join our team
            <span>It takes less than 2 minutes to get everything set up.</span>
        </a>
    </div>
</div>